* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-color: #fff89f;
}

.extra-top {
  margin-top: 60px;
}

.pokedex-custom-font {
  font-family: 'Ranchers', cursive;
}

.list-group-item {
  border: none;
  background-color: #fff89f;
  margin: 0;
  padding: 10px 0;
}

.modal-header {
  background-color: #17a2b8;
}

.modal-title {
  color: #fff;
  font-family: 'Ranchers', cursive;
}
