* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
}

a {
  color: #425970;
  transition: 0.5s opacity;
}

a:visited {
  color: #1a232c;
}

a:hover,
a:focus {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
}

a:active {
  color: #7e99b4;
}

/* Header Section */
.pokedex-header {
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.pokedex-header__logo {
  max-width: 100%;
  height: auto;
}

.pokedex-header__item {
  flex: 0 1 200px;
}

.pokedex-header .pokedex-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

/* Navigation Section */
.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

/* Pokémon List */
.pokemon-list {
  list-style-type: none;
}

.pokemon-button {
  background-color: #e7e7e7;
  border: 2px solid #e7e7e7;
  color: black;
  padding: 16px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 250px;
}

.pokemon-button:hover {
  background-color: white;
}
